<!DOCTYPE html>
<html>
<head>
    <title> Aandreya's page </title>
    <meta charset="utf-8"/>
</head>
<body>
    <h1 style="color: grey; background-color: yellow; font-size: 40px;">FAKEBOOK</h1>
    Išči: <input type="text" placeholder="Išči po imenu">
    <br/>
    <h2>Andreja Korade</h2>
    <img src="https://scontent.flju2-1.fna.fbcdn.net/v/t1.0-9/13934880_1771761759775610_6163155130714697807_n.jpg?oh=33bdf2be3420f8e56a6595b616fe9987&oe=5A385CC9"/>
    <br/>
    <button>Dodaj k prijateljem</button>
    <br/>
    <p>
        <strong>Kraj:</strong> Pesnica
    </p>
    <p>
        <strong>Starost:</strong> po 27 se več ne šteje
    </p>
    <p>
        <strong>Izobrazba:</strong> imam</p>
    <p>
        <strong>Hobi:</strong> <a href="www.3dhubs.com/service/66334/3dprint"> 3d print </a>
    </p>
    <p>
        <strong>Št. FB prijateljev:</strong> 200
    </p>
    <p>
        <strong>Št FB neprijateljev:</strong> fatal error
    </p>

    <p>
        <strong>Nasvet:</strong>
    </p>
    <p>Se kdaj počutiš kot</p>
    <img src="http://www.slate.com/content/dam/slate/blogs/bad_astronomy/2013/06/09/shutterstock_zombie.jpg.CROP.original-original.jpg"/>
		<ol>
			<li>...vzami skodelico za kavo...</li>
			<li>... nalij kavo v skodelico...</li>
			<li><a href="https://www.youtube.com/watch?v=PTC-cy_I7Gw">YEAH BABY!</a></li>
		</ol>
  </body>
</html>
